# Configuração do Servidor
PORT=3000
NODE_ENV=development

# Configuração do Banco de Dados PostgreSQL (Para conexão futura)
DB_HOST=localhost
DB_PORT=5432
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=fitlife_ai_db
